// font color 
$app-font-color: #262b33;
$app-title-color: rgb(152, 161, 179);
$app-button-color: rgb(33, 150, 243);

// background
$app-background-hover-color: rgba(230, 244, 255, 0.5);
$app-background-input: rgb(242, 245, 250);
